---
import { Icon } from "astro-icon/components";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { BOT } from "@data/config";
import { getLangFromUrl, useTranslations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="my-6 flex justify-center">
  <a
    href={`https://discord.com/oauth2/authorize?client_id=${BOT.clientId}`}
    target="_blank"
    rel="noopener noreferrer"
    class={cn(buttonVariants({ size: "lg" }), "flex items-center gap-2 !text-black")}
  >
    <Icon name="discord" class="size-5" />
    {t("install.cta.addToServer")}
  </a>
</div>
