---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn("my-8", className)}>
  <ol class="relative ml-4 list-none space-y-8 border-l-2 border-primary/20 pl-8">
    <slot />
  </ol>
</div>
